*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;

    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/uni.jpg);
    background-position:center;
    background-size:cover;
    position:relative;
}

#link{
    background-color: rgb(20, 14, 77);
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 50px;
}
.text-box{
    width:90%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.text-box h1{
    font-size: 62px;
    background: transparent;
    color: white;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: rgb(255, 255, 255);
}
.text-box h4{
    font-size: 30px;
    background: transparent;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    padding: 14px 34px;
    font-size: 13px;
    border-radius: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border:1px solid rgb(24, 24, 49);
    background: rgb(20, 14, 77);
    color: white;
    transition: 1s;
}
#entry{
    justify-content: center;
}

@media(max-width:767px){

    .header{
        background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(uni.jpg);
    }
    
    .text-box h1{
        font-size: 40px;
        color: white;
    }
    .text-box h4{
        font-size: 18px;
        color: white;
      
    }
    .text-box p{
        color: rgb(255, 255, 255);
    }
    .text-box a{
        color: rgb(255, 255, 255);
    }
    .header .hero-btn{
        color: white;
    }
        

    }
.destinations{
    width: auto;
    margin: 30;
    text-align: center;
}
h1 {
    background: white;
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: black;
  }
p{
    color: rgb(3, 17, 17);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.destination-col{
    flex-basis: 31%;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.destination-col:hover{
    box-shadow: 0 0 20px 0px rgb(20, 14, 77);
}
@media(max-width:767px){
    .row{
        width: 100%;
        flex-direction: column;
    }
    #hello{
        width: 270px;
        
    }
}
@media (hover: hover) and (pointer: fine) {
    .destination-col:hover {
      box-shadow: 0 0 20px 0px rgb(20, 14, 77);
    }
  }


  a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    color: rgb(20, 14, 77);
  }
  
  a:hover {
    color: rgb(20, 14, 77);
  }
  
 

